<%# <% @posts.each do |post| %>
  <%# <div><a href='<%= "/posts/#{post.id}" %>
<%# <% end %> 

<%# 
<% @posts.each do |post| %>
  <%# <div><%= link_to post.title, "/posts/#{post.id}" %>
<%# <% end %>

<%# <% @posts.each do |post| %>
  <%# <div><%= link_to post.title, post_path(post.id) %>
<%# <% end %> 

<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>